@media(max-width:575px){
    .fram-img{
        margin-left: 80px;
    }
    .hero-content{
        text-align: center;
        margin-left: 40px;
    }
    .media{
        text-align: center;
        margin-bottom: 20px;
    }
    .client{
        margin-right: 130px;
    }
    .foot-p{
        text-align: center;
    }




















}